@tailwind base;
@tailwind components;
@tailwind utilities;

.white-key {
  @apply border border-black w-20 h-48 bg-white text-red-500 text-center flex items-end justify-center;
}

.pianoPage {
  align-items: center;
}
h1 {
  text-align: center;
}
.piano {
  display: flex;
  justify-content: center;
}
.white-key {
  border: 1px solid #000000;
  width: 100px;
  height: 400px;
  background-color: white;
  color: red;
  text-align: center;
  transition: background-color 0.3s, transform 0.1s;
}
.black-key {
  background-color: black;
  width: 60px;
  height: 250px;
  margin-left: -30px;
  margin-right: -30px;
  z-index: 1;
  color: red;
  text-align: center;
}

.playbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btn{
  cursor: pointer;
}
.white-key:hover{
  background-color: lightgray;
  transform: scale(1.01);
}
.black-key:hover{
  background-color: rgb(38, 38, 38); 
  transform: scale(1.01)
}
.white-key:active{
  background-color: darkgray;
  transform: scale(0.97);
}
.black-key:active {
  background-color: rgb(96, 96, 96);
  transform: scale(0.99);
}